@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,400;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,400;0,700;1,100;1,400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "Cal Sans", sans-serif;
  
  color: #f5f5f5;
  @apply selection:bg-[rgba(155,128,197,255)] selection:text-white;
}

.poppins {
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.link-hover {
  @apply inline-block hover:text-purple-300 transition-all duration-300;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overscroll-behavior: none;

  background-image: url('./assets/coral.jpg');
  background-color: rgba(0, 0, 0, 0.8); /* Adds a dark color */
  background-blend-mode: multiply; /* Darkens the image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps it in place during scrolling */
  overflow: visible;
}

body {
  overflow: visible;
}

.glow {
  @apply absolute z-[-1] h-[1200vh] w-full bg-[radial-gradient(circle_500px_at_50%_948px,rgba(120,119,198,0.3),transparent)] overflow-visible 
}

.bg {
  @apply fixed top-0 w-full h-full bg-cover bg-no-repeat bg-neutral-900 bg-blend-normal z-[-2];
}

.lock-scroll {
  overflow: hidden;
}

.bg-card-black {
  @apply bg-[#101010]
}

.bg-gradient-blue {
  /* @apply top-0 w-full h-full bg-[radial-gradient(circle_600px_at_50%_0,rgba(63,230,226,0.075),transparent)] */
  @apply top-0 w-full h-full bg-[radial-gradient(circle_500px_at_50%_0,rgba(168,85,247,0.1),transparent)]
}

.title-gradient {
  @apply bg-gradient-to-r from-neutral-100 to-neutral-300 bg-clip-text text-transparent
}

.card-shadow {
  @apply shadow-[0_3px_5px_-1px_rgba(0,0,0,1.2)]
}

@font-face {
  font-family: EvaFont;
  src: url('./src/assets/fonts/NIS-JTC-Win-M9-Condensed.ttf') format('truetype');
}

.eva-font1 {
  font-family: EvaFont;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.eva-font2 {
  font-family: Helvetica;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  font-weight: 550;
  transform: scale(1, 1.6);
}

.eva-font3 {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  transform: scale(1, 1.6);
  font-weight: 800;
}
